.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: mintcream;
    width: 100px;
    height: 80px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #13695d;
    background-color: #444;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    animation: myanimation 10s infinite;

    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 5px;
    margin-left: 440px;
    color: mintcream;
}



@keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:#444;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }